@{
    ViewData["Title"] = "Update Profile ";
}
@model MSSQLCRUD.Models.UserProfileInfoModel
<style>
    table {
        width: 100%;
    }

    tbody > tr:nth-child(2n+1) {
        background: #444444;
    }

    td {
        padding: 5px;
    }

    input {
        color: black;
    }

    form {
        color: white;
    }

        form > div {
            border: 1px solid grey;
            padding: 15px;
            border-radius: 10px;
            margin-bottom: 15px;
        }

    body {
        color: white;
    }

    a {
        color: white;
    }

        a:hover {
            color: #9cd4ff;
        }
</style>
<div style="border: 1px solid yellow; min-width: 1140px; min-height: 80vh;">
    <div style="border: 1px solid white; padding: 10px 15px; width: 25%; float: left; min-height: 80vh;">
        <div style="font-size:smaller;">@Model.EmployeeID</div>
        <div style=" border-bottom: 1px solid white;
                     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                     font-weight: bold;
                     font-size: 20px;
                     display:inline;">
            @Model.FirstName
        </div>
        <div>
            @Model.LastName
        </div>
        <div style="padding-top: 30px;">
            <a href="/logout">> Logout</a> <br />
        </div>
    </div>
    <div style="display:block; border: 1px solid white; padding: 10px 15px; float: left; width: 75%; min-height: 80vh;">
        <h3>Update Profile</h3>
        <div style="padding: 10px 15px;">
            <form id="formRegister" action="/employeeUpdateProfile" method="POST">
                @Html.TextBoxFor(m => m.EmployeeID, new { @hidden = true })
                @Html.TextBoxFor(m => m.RegisteredDate, new { @hidden = true })
                <div>
                    <table>
                        <colgroup style="width: 20%"></colgroup>
                        <colgroup span="10"></colgroup>
                        <tbody>
                            <tr>
                                <td> First Name </td>
                                <td>
                                    @Html.TextBoxFor(m => m.FirstName, new
                                    {
                                        @class = "form_site_input",
                                        @placeholder = "first name",
                                        @autofocus = "autofocus",
                                        @spellcheck = false,
                                        @maxlength = 20,
                                        @required = true
                                    })
                                </td>
                            </tr>
                            <tr>
                                <td> Middle Name</td>
                                <td>
                                    @Html.TextBoxFor(m => m.MiddleName, new
                                    {
                                        @class = "form_site_input",
                                        @placeholder = "middle name",
                                        @spellcheck = false,
                                        @maxlength = 20,
                                        @required = true
                                    })
                                </td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td>
                                    @Html.TextBoxFor(m => m.LastName, new
                                    {
                                        @class = "form_site_input",
                                        @placeholder = "last name",
                                        @spellcheck = false,
                                        @maxlength = 20,
                                        @required = true
                                    })
                                </td>
                            </tr>
                            <tr>
                                <td>Birthdate</td>
                                <td>
                                    @Html.TextBoxFor(m => m.birthdate, new
                                    {
                                        @class = "form_site_input",
                                        @placeholder = "yyyy/mm/dd",
                                        @spellcheck = false,
                                        @maxlength = 20,
                                        @required = true
                                    })
                                </td>
                            </tr>
                            <tr>
                                <td>Age</td>
                                <td>
                                    @Html.TextBoxFor(m => m.Age, new
                                    {
                                       @class = "form_site_input",
                                       @placeholder = "age",
                                       @spellcheck = false,
                                       @maxlength = 2,
                                       @required = true,
                                       @type = "number"
                                    })
                                </td>
                            </tr>

                            <tr>
                                <td>Marital Status</td>
                                <td>
                                    @Html.TextBoxFor(m => m.maritalStatus, new
                                    {
                                        @class = "form_site_input",
                                        @placeholder = "martal status",
                                        @spellcheck = false,
                                        @maxlength = 50,
                                        @required = true
                                    })
                                </td>
                            </tr>
                            <tr>
                                <td>Position</td>
                                <td>
                                    @Html.TextBoxFor(m => m.position, new
                                {
                                    @class = "form_site_input",
                                    @placeholder = "position",
                                    @spellcheck = false,
                                    @maxlength = 20,
                                    @required = true
                                })
                                </td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>
                                    @Html.TextBoxFor(m => m.Address, new
                                    {
                                        @class = "form_site_input",
                                        @placeholder = "address",
                                        @spellcheck = false,
                                        @maxlength = 50,
                                        @required = true,
                                        @style = "max-width: 100%;"
                                    })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <center>
                    <button class="form_site_btn" type="submit">Save</button>
                </center>
            </form>
        </div>
    </div>
</div>